@using System.Data
@{
    ViewBag.Title = "DeatailReport";
}
<div class="row">
    <div class="col-md-12" style="text-align:center">
        <h2>Doner Detail Report</h2>
    </div>
</div>
@foreach (DataRow row in Model.dt.Rows)
{
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <br />
            @{
                var i = Convert.ToDateTime(row["CREATE_AT"]).ToString("dd-MM-yyyy");
            }
            <h4>User Created Date : @i</h4>
            <br />
        </div>
        <div class="col-md-12" style="text-align:center">
            <br />
            <h4>Email : @row["EMAIL"]</h4>
            <br />
        </div>
        <div class="col-md-12" style="text-align:center">
            <br />
            <h4>Blood Group : @row["BLOODGROP"]</h4>
            <br />
        </div>
        <div class="col-md-12" style="text-align:center">
            <br />
            @{
                var j = Convert.ToDateTime(row["DONATEDATE"]).ToString("dd-MM-yyyy");
            }
            <h4>Donate Date : @j</h4>
            <br />
        </div>
        <div class="col-md-12" style="text-align:center">
            <br />
            <h4>Reason : @row["REASON"]</h4>
            <br />
        </div>
        <div class="col-md-12" style="text-align:center">
            <br />
            <h4>Supervisor Dr. : @row["SUPERVISOR"]</h4>
            <br />
        </div>
        <div class="col-md-12" style="text-align:center">
            <br />
            <h4>Unit : @row["UNIT"]</h4>
            <br />
        </div>
        <div class="col-md-12" style="text-align:center">
            <br />
            <h4>Blood Donate Center : @row["CENTER_NAME"]</h4>
            <br />
        </div>
        <div class="col-md-12" style="text-align:center">
            <br />
            <h4>Center Address : @row["ADDRESS"]</h4>
            <br />
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12" style="text-align:center">
        <button type="button" style="background-color: #d1d0f9" onclick="location.href='@Url.Action("Back","Home")'"><span>Back</span></button>
    </div>
</div>