@using bloodbank.Models
@model DonerDetails
@{
    ViewBag.Title = "UserReport";
}
<HTML>
<HEAD>
    <TITLE>Login</TITLE>
    <link href="~/Content/bloodbank.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <style type="text/css">
        .error1 {
            color: red;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</HEAD>
<BODY>
    <div class="Bloodbank-container">
        <div class="sign-up-container">
            <div class="signup-align">
                @using (Html.BeginForm("UserReport", "Home", FormMethod.Post))
                {
                    <form>
                        <div class="signup-heading">Doner Details</div>
                        <div class="row" style="text-align:center;">
                            <div class="inline-block">
                                <div class="form-label">
                                    Donate Date<span class="required" id="username-info"></span>
                                </div>
                                @Html.TextBoxFor(a => a.DonateDate, new { @id = "datepicker", @class = "input-box-330", @placeholder = "Donate Date" })
                                @Html.ValidationMessageFor(a => a.DonateDate, "", new { @class = "error1" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="inline-block">
                                <div class="form-label">
                                    Unit<span class="required" id="login-password-info"></span>
                                </div>
                                @*@Html.TextBoxFor(a => a.Unit, new { @class = "input-box-330", @placeholder = "Unit" })*@
                                @Html.DropDownListFor(a => a.Unit, new SelectList(Enum.GetValues(typeof(Units))), new { @class = "input-box-330", @placeholder = "Unit" })
                                @Html.ValidationMessageFor(a => a.Unit, "", new { @class = "error1" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="inline-block">
                                <div class="form-label">
                                    Reason<span class="required" id="login-password-info"></span>
                                </div>
                                @Html.TextBoxFor(a => a.Reason, new { @class = "input-box-330", @placeholder = "Reason" })
                                @Html.ValidationMessageFor(a => a.Reason, "", new { @class = "error1" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="inline-block">
                                <div class="form-label">
                                    Supervisor Dr.<span class="required" id="login-password-info"></span>
                                </div>
                                @Html.TextBoxFor(a => a.Supervisor, new { @class = "input-box-330", @placeholder = "Supervisor Dr" })
                                @Html.ValidationMessageFor(a => a.Supervisor, "", new { @class = "error1" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="inline-block">
                                <div class="form-label">
                                    Blood Group:<span class="required" id="login-password-info"></span>
                                </div>
                                @Html.TextBoxFor(a => a.BloodGrop, new { @class = "input-box-330", @placeholder = "Blood Group" })
                                @Html.ValidationMessageFor(a => a.BloodGrop, "", new { @class = "error1" })
                            </div>
                        </div>
                        <div class="row">
                            <input class="btn" type="submit" style="background-color: #d1d0f9" name="login-btn" id="login-btn" value="Submit">
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</BODY>
</HTML>
@section Scripts {
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#datepicker").datepicker({ dateFormat: 'dd/mm/yy' });
        });
    </script>
}